:root{
    --text-color: #434455;
    --title-text-color: #2E2F42;
    --active-color: #4D5AE5;
    --second-active-color: #404BBF;
    --standard-white-color: #FFFFFF;
    --first-white-color: #F4F4FD;
    --second-white-color: #E7E9FC;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------------Basic----------------------------- */
@media screen and (min-width: 480px) and (max-width: 767px){
    .container-header{
        max-width: 428px;
    }
    .container{
        max-width: 428px;
    }
    .container-footer{
        max-width: 428px;
    }
    .solutions{
        max-width: 428px;
    }
    .header{
        max-width: 428px;
    }
    .container-mobile-menu{
        max-width: 428px;
    }
}
/* ------------------------------Portfolio----------------------------- */
@media screen and (max-width: 767px){
    .portfolio-buttons-list{
        flex-wrap: wrap;
    }
    .portfolio-buttons-item:nth-child(-n+3){
        margin-bottom: 16px;
    }
}
/* ------------------------------Mobile Menu----------------------------- */
@media screen and (max-width: 428px){
    .social-list-mobile-menu{
        gap: initial;
        justify-content: space-between;
    }
}