html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
ul,ol{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 428px;
    min-width: 320px;
    height: auto;
}

body{
    font-family: 'Roboto' 'Raleway', sans-serif;
    color: var(--text-color);
    background-color: var(--standard-white-color);
}

:root{
    --text-color: #434455;
    --title-text-color: #2E2F42;
    --active-color: #4D5AE5;
    --second-active-color: #404BBF;
    --standard-white-color: #FFFFFF;
    --first-white-color: #F4F4FD;
    --second-white-color: #E7E9FC;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.container-header{
    margin: 0 auto;
    width: 100vw;
    padding-left: 16px;
    padding-right: 16px;
}

.container{
    margin: 0 auto;
    width: 100vw;
    padding-left: 15px;
    padding-right: 15px;
}

.container-footer{
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*-------------------------------------------- Header -----------------------------------------------------*/

.header{
    border-bottom: 1px solid #E7E9FC;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    margin: 0 auto;
    height: 70px;
}

.header-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
}

.header-web, .nav-list, .contacts-list{
    display: flex;
    align-items: center;
}

/* -----------------------------Header-web----------------------------- */
.header-web{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-color);
    padding-bottom: 1px;
}

.header-studio{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}


/* -----------------------------Nav-list----------------------------- */
.nav-list, .contacts-list{
    display: none;
}

.nav-list{
    margin-left: 77px;
}

.nav-list li:not(:last-child){
    margin-right: 40px;
}

.nav-item{
    list-style: none;
    display: inline-block;
}

.nav-link{
    color: var(--title-text-color);
    text-decoration: none;
    font-size: 36px;
    font-weight: 500;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: inline-block;
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active{
    color: var(--active-color);
}

.nav-link.current{
    display: inline-block;
    position: relative;
    color: var(--active-color);
    text-decoration: none;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    font-weight: 700;

}

.nav-link.current::after{
    position: absolute;
    bottom: -22px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--active-color);
    border-radius: 2px;
}


/* -----------------------------Contacts-list----------------------------- */
.contacts-list{
    list-style: none;
    padding-left: 0;
}
.contacts-list:not(:last-child){
    margin-right: 40px;
}

.contacts-item{
    list-style: none;
}

.contacts-link{
    color: var(--text-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    transition: color var(--transition-duration) var(--transition-timing-function);
}
.contacts-link:hover,
.contacts-link:hover,
.contacts-link:hover{
    color: var(--active-color);
}

/* -------------------------------------Mobile Menu -------------------------------------------------*/
/* -------------------------------------Mobile Menu Basic -------------------------------------------------*/
.mobile-menu-open{
    margin-top: 25px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-open-icon{
    stroke: #000000;
}

.mobile-menu-close{
    position: fixed;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.mobile-menu-close:hover{
    background-color: var(--second-active-color);
}

.mobile-menu-close:hover .mobile-menu-close-icon{
    fill: var(--standard-white-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu .is-hidden .container-mobile-menu{
    transform: translate(-50%, -50%) scale(0.1);
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--standard-white-color);
    transition: translate var(--transition-duration) var(--transition-timing-function);
    z-index: 1;
    width: 100vw;
    opacity: 1;
}

.container-mobile-menu{
    width: 100vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transition: transform var(--transition-duration) var(--transition-timing-function);    
}

/* -------------------------------------Mobile Menu Nav-List -------------------------------------------------*/
.nav-list-mobile-menu{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-item-mobile-menu{
    list-style: none;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
}
.nav-item-mobile-menu:not(:last-child){
    margin-bottom: 40px;
}
.nav-link-mobile-menu{
    text-decoration: none;
    color: var(--title-text-color);
}

.current-mobile-menu{
    color: var(--active-color);
}

/* -------------------------------------Mobile Menu Contacts-List -------------------------------------------------*/
.contacts-item-mobile-menu{
    list-style: none;
    margin-bottom: 40px;
}
.phone-mobile-menu{
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-transform: capitalize;
    color: var(--active-color);
    text-decoration: none;
    letter-spacing: 0.07em;

}
.email-mobile-menu{
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

/*-------------------------------------------- Mobile Menu Social -----------------------------------------------------*/
.social-list-mobile-menu{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    list-style: none;
    gap: 40px;

}
.social-link-mobile-menu{
    background-color: var(--active-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

/*-------------------------------------------- Background Solutions -----------------------------------------------------*/

.solutions{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--title-text-color);
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
        url('../images/solutions-mobile.jpg');
    min-width: 100px;
    max-height: 432px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .solutions{
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url('../images/solutions-mobile-2x.jpg');
    }
}

.solutions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--standard-white-color);
    margin-bottom: 72px;
}


.solutions-button{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    text-align: center;
    padding: 16px 32px;
    color: var(--standard-white-color);
    cursor: pointer;
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.solutions-button:hover,
.solutions-button:focus,
.solutions-button:active{
    background-color: var(--second-active-color);
}

/*-------------------------------------------- Skills -----------------------------------------------------*/

.skills-section{
    padding-top: 96px;
    padding-bottom: 96px;
}

.skills-visually-hidden{
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
} 

.skills-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.skills-list li:not(:first-child){
    margin-top: 72px;
}

.skills-item{
    list-style: none;
    width: 100%;
}

.skills-background-icon{
    background-color: #F4F4FD;
    display: none;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.skills-icon{
    width: 64px;
    height: 64px;
}

.skills-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 8px;
    text-transform: capitalize;
}
.skills-text{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-align: start;
}

/*-------------------------------------------- Doing -----------------------------------------------------*/

.doing-section{
    padding-bottom: 120px;
    display: none;
}
.doing-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-bottom: 72px;
}
.doing-list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.doing-item:not(:last-child){
    margin-right: 24px;
}

/*-------------------------------------------- Our Team -----------------------------------------------------*/

.team-section{
    background-color: var(--first-white-color);
    padding-top: 96px;
}

.team-article{
    border-radius: 4px;
    overflow: hidden;
    align-items: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-bottom: 72px;
}
.team-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 128px;
    min-width: 280px;
    margin: 0;
}

.team-image{
    background-color: var(--standard-white-color);
    display: block;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-content{
    padding: 32px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--standard-white-color);
}

.team-list > .team-item{
    flex-basis: 264px;
    margin-left: 83px;
    margin-right: 83px;
    margin-bottom: 72px;
}
.team-item:last-child{
    margin-bottom: 0;
}

.team-name-person {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.team-text-person {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-top: 8px;
}

.team-list-link-icon{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-link{
    background-color: #4D5AE5 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.team-link:hover,
.team-link:focus{
    background-color: #404BBF;
}




/*-------------------------------------------- Customers -----------------------------------------------------*/

.customers-section{
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-bottom: 72px;
}
.customers-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}


.customers-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.customers-icon{
    fill: #8E8F99;
    width: 168px;
    height: 88px;
    padding: 16px 32px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.customers-link:hover,
.customers-link:focus{
    border-color: #404BBF;
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon{
    fill: #404BBF;
}



/*-------------------------------------------- Footer -----------------------------------------------------*/

.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--title-text-color);
}

.footer-web{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-color);
}
.footer-studio{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-white-color);

}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--second-white-color);
    width: 264px;
    margin-top: 16px;
    text-align: start;
}

.footer-social{
    margin-top: 72px;
    text-align: center;
}

.footer-social-title{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--standard-white-color);
    margin-bottom: 16px;
}

.footer-social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.footer-social-link{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.footer-social-link:hover,
.footer-social-link:focus{
    background: #31D0AA;
}


/*-------------------------------------------- Subscribe in the footer -----------------------------------------------------*/

.footer-form-content{
    display: block;
    text-align: center;
    margin-top: 72px;
    padding-right: 16px;
    padding-left: 16px;
}

.subscribe-title{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-input{
    width: 100%;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #E7E9FC;
    transition: border var(--transition-duration) var(--transition-timing-function);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;
}

.footer-input:hover,
.footer-input:focus,
.footer-input:active
{
    border: 1px solid var(--second-active-color);
}
@media screen and(min-width){
    .footer-input{
        max-width: 320px;
        padding-right: 16px;
        padding-left: 16px; 
    }
}

.footer-button{
    display: inline-block;
    align-items: center;
    margin-top: 16px;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--active-color);
    color: var(--standard-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.footer-button:hover,
.footer-button:focus{
    background: var(--second-active-color);
}

.subscribe-icon-send{
    fill: var(--standard-white-color);
    margin-left: 16px;
    width: 24px;
    height: 20px;
}






/*-------------------------------------------- Portfolio -----------------------------------------------------*/
.portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}
/*-------------------------------------------- Portfolio Buttons -----------------------------------------------------*/


.portfolio-buttons-list{
    list-style: none;
    display: flex;
    justify-content: start;
    margin-bottom: 66px;
    /* width: 100%; */
}

.portfolio-buttons-item:not(:last-child){
    margin-right: 24px;
}

.portfolio-buttons-link{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--active-color);
    cursor: pointer;
    background-color: var(--first-white-color);
    padding: 8px 15px;
    border: 1px solid var(--second-white-color);
    border-radius: 4px;
    transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.portfolio-buttons-link:hover,
.portfolio-buttons-link:focus,
.portfolio-buttons-link:active{
    color: var(--standard-white-color);
    background-color: var(--second-active-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-------------------------------------------- Portfolio Images -----------------------------------------------------*/

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}
.visually-hidden-skills {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
} 

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    gap: 48px;
}

.portfolio-item{
    list-style: none;
    flex-basis: 360px;
    min-width: 300px;
}

.portfolio-link{
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
    text-decoration: none;
}
.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 40px 32px;
    background-color: var(--active-color);
    opacity: 0;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);
}
.portfolio-overlay-text{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--first-white-color);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay{
    opacity: 1;
    transform: translateY(0);
}


.portfolio-figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 300px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    gap: 8px;
    border: 1px solid var(--second-white-color);
}


.portfolio-figure-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--title-text-color); 
}
.portfolio-figure-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--text-color);
}


/*-------------------------------------------- Modal -----------------------------------------------------*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity var(--transition-duration) var(--transition-timing-function);
  }
  
  .backdrop.is-hidden{
    visibility: visible;
    opacity: 0;
    pointer-events: none;
  }
  
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    width: 100%;
    min-width: 320px;
    max-width: 410px;
    min-height: 576px;
    padding: 24px;
    padding-top: 72px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-duration) var(--transition-timing-function);
  }

.modal-close-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #E7E9FC;
    color: #000000;
    cursor: pointer;
    transition: background var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}
.modal-close-button:hover,
.modal-close-button:focus{
    background: #404BBF;
    color: #FFFFFF;
    outline-color: transparent;
}

.modal-close-icon{
    fill: currentColor;
    height: 10px;
    width: 10px;
    padding-top: 2px;
}
.modal-close-icon:hover,
.modal-close-icon:focus{
    color: #FFFFFF;
}

/*-------------------------------------------- Modal Form -----------------------------------------------------*/

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 14px;
}

.modal-label{
    display: block;
    margin-bottom: 8px;
}

.modal-label-text{
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-input-wrap{
    position: relative;
    margin-top: 4px;
}

.modal-input{
    width: 100%;
    min-height: 40px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    transition: border var(--transition-duration) var(--transition-timing-function);
}
.modal-input:focus{
    border: 1px solid var(--active-color);
    outline: transparent;
}

.modal-input-icon{
    position: absolute;
    left: 19px;
    top: 65%;
    transform: translateY(-50%);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-input:focus + .modal-input-icon{
    fill: var(--active-color);
}


.modal-label-comment{
    display: block;
}
.modal-input-comment{
    display: block;
    width: 100%;
    min-height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    padding: 8px 8px 8px 16px;
    resize: none;
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    background: transparent;
    transition: border var(--transition-duration) var(--transition-timing-function);
}
.modal-input-comment:focus{
    border: 1px solid #4D5AE5;
}
.modal-input-comment::placeholder{
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
    margin-top: 8px;
    margin-bottom: 16px;
}

/*-------------------------------------------- Modal Privacy -----------------------------------------------------*/

.modal-label-privacy{
    margin-top: 16px;
    margin-bottom: 20px;

}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.modal-privacy-checkbox:checked + .modal-privacy-text::before{
    background-color: var(--second-active-color);
    background-image: url(../images/icon-check-mark.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.modal-privacy-text{
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.modal-privacy-text::before{
    content: "";
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 4px;
}
.modal-privacy-link{
    color: var(--active-color);
    text-decoration: underline;
    cursor: pointer;
}


/*-------------------------------------------- Modal Button -----------------------------------------------------*/

.modal-button-send{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 16px 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    cursor: pointer;
    letter-spacing: 0.04em;
    background: var(--active-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border-color: transparent;
    color: #FFFFFF;
    transition: background var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.modal-button-send:hover,
.modal-button-send:focus{
    background: var(--second-active-color);
}











