:root{
    --text-color: #434455;
    --title-text-color: #2E2F42;
    --active-color: #4D5AE5;
    --second-active-color: #404BBF;
    --standard-white-color: #FFFFFF;
    --first-white-color: #F4F4FD;
    --second-white-color: #E7E9FC;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------------Basic----------------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px){
    .container-header{
        width: 768px;
        position: relative;
    }
    .container{
        width: 768px;
    }
    .container-footer{
        width: 768px;
        justify-content: initial;
    }

    /* ------------------------------Header----------------------------- */
    .header{
        padding-bottom: 19px;
    }
    
    .header-web{
        display: initial;
    }
    nav{
        display: initial;
    }
    .nav-list, .contacts-list{
        display: initial;
    }
    .nav-link{
        font-weight: 500;
        line-height: 1.5;
        font-size: 16px;
    }
    .nav-link .current::after{
        margin-top: 22px;
    }
    .contacts-list{
        position: absolute;
        right: 16px;
        top: 0;
    }
    .contacts-list li:not(:last-child){
        margin-right: 0;
    }
    .contacts-link{
        font-style: 12px;
    }
/* ------------------------------Mobile Menu----------------------------- */
    .mobile-menu-open{
        display: none;
    }
    .mobile-menu{
        display: none;
    }

    /* ------------------------------Solutions----------------------------- */
    .solutions{
        min-width: 768px;
        max-height: 436px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/solutions-tab.jpg);
        padding-bottom: 108px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .solutions{
            background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/solutions-tab-2x.jpg);
        }
    }

    .solutions-title{
        font-weight: 700;
        font-size: 56px;
        line-height: calc(60 / 56);
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 40px;
    }
/* ------------------------------Modal----------------------------- */
    .modal{
        width: 408px;
        min-height: 586px;
    }

/* ------------------------------Skills----------------------------- */
    .skills-section{
        padding-bottom: 96px;
    }
    .skills-list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .skills-list li{
        width: calc((100% - 24px) / 2);
        margin: 0;
    }
    .skills-list li:not(:first-child){
        margin-top: 0;
    }
    .skills-title{
        text-align: initial;
    }
/* ------------------------------Team----------------------------- */
    .team-section{
        padding-bottom: 105px;
    }
    .team-list{
        padding-bottom: 0;
        gap: 24px;
        row-gap: 64px;
    }
    .team-list > .team-item{
        margin: 0;
    }
    .team-item{
        width: calc((100% - 24px) / 2);
    }
/* ------------------------------Customers----------------------------- */
    .customers-list{
        gap: 24px;
        row-gap: 72px;
    }
/* ------------------------------Footer----------------------------- */
    
    .footer-logo-content{
        margin-left: 108px;
    }
    .footer-web{
        justify-content: center;
    }
    .footer-social{
        margin: 0;
        margin-left: 24px;
    }
    .footer-form-content{
        text-align: initial;
        margin-left: 93px;
    }
    .subscribe-input-button{
        display: flex;
        align-items: center;
    }
    .footer-input{
        width: 264px;
    }
    .footer-button{
        margin: 0;
        margin-left: 24px;
    }
/* ------------------------------Portfolio Buttons----------------------------- */
    .portfolio-buttons-list{
        margin-bottom: 64px;
        justify-content: center;
    }
    .portfolio-buttons-link{
        padding: 12px 24px;
    }
/* ------------------------------Portfolio Images----------------------------- */
    .portfolio-list{
        justify-content: initial;
        gap: 0;
    }
    .portfolio-item{
        flex-basis: 356px;
    }
    .portfolio-item:not(:nth-child(2n + 1)){
        margin-left: 24px;
    }
    .portfolio-item:not(:last-child){
        margin-bottom: 72px;
    }

    .portfolio-link{
        width: 356px;
    }
    .portfolio-image{
        width: 356px;
    }
    .portfolio-figure{
        width: 356px;
    }
}